* {
  margin: 0;
  padding: 0; }

body {
  background: #c2c2c2;
  font-size: 16px;
  padding: 80px 60px 0px; }

.model {
  background: lightskyblue;
  margin: 20px; }

.model--1 {
  background: yellow; }

.model--2 {
  background: red; }

.model--3 {
  background: green; }

.is-negro {
  color: #000;
  font-size: 24px; }

.is-azul {
  color: blue; }

.is-rosado {
  color: deeppink; }

.is-expandible {
  width: 100%; }
